/* home */
.parallax.home1 {
    background-image: url("images/parallax_bomon.jpg");
}

.parallax.home2 {
    background-image: url("images/parallax_KuGongSan.jpg");
}

.parallax.home3 {
    background-image: url("images/parallax_helipad.jpg");
}

.parallax.home4 {
    background-image: url("images/parallax_house_in_mountain.jpg");
}





.parallax.introM1 {
    background-image: url("images/parallaxIM.jpg");
}

/* mountains */
.parallax.mountains1 {
    background-image: url("images/parallax_bomon2.jpg");
}

.parallax.DeoGyuSan1 {
    background-image: url("images/mountains/DeoGyuSan/parallax.jpg");
}

.parallax.DeoGyuSan2 {
    background-image: url("images/mountains/DeoGyuSan/temple_parallax.JPG");
}

.parallax.OuSeongEeSan1 {
    background-image: url("images/mountains/OuSeongEeSan/parallax.jpg");
}

.parallax.ManInSan1 {
    background-image: url("images/mountains/ManInSan/parallax.jpg")
}

.parallax.ManInSan2 {
    background-image: url("images/mountains/ManInSan/landscape_parallax.JPG")
}

.parallax.GyerYongSan1 {
    background-image: url("images/mountains/GyerYongSan/parallax.jpg")
}

.parallax.GyerYongSan2 {
    background-image: url("images/mountains/GyerYongSan/parallax_flower.jpg")
}

.parallax.GyerYongSan3 {
    background-image: url("images/mountains/GyerYongSan/sign.jpg")
}

.parallax.GyerYongSan4 {
    background-image: url("images/mountains/GyerYongSan/parallax_view2.jpg")
}

.parallax.GyerYongSan5 {
    background-image: url("images/mountains/GyerYongSan/parallax_tree.jpg")
}

.parallax.GyerYongSan6 {
    background-image: url("images/mountains/GyerYongSan/ugly_boy.jpg")
}

.parallax.BoMunSan1 {
    background-image: url("images/mountains/BoMunSan/parallax.jpg")
}

.parallax.BoMunSan2 {
    background-image: url("images/mountains/BoMunSan//parallax_sunrise.jpg")
}

.parallax.KaJeongSan1 {
    background-image: url("images/mountains/KaJeongSan/parallax.jpg")
}

.parallax.KaJeongSan2 {
    background-image: url("images/mountains/KaJeongSan/group.jpg")
}

.parallax.KaJeongSan3 {
    background-image: url("images/mountains/KaJeongSan/view_parallax.jpg")
}

.parallax.GapHaSan1 {
    background-image: url("images/mountains/GapHaSan/parallax.jpg")
}

.parallax.GapHaSan2 {
    background-image: url("images/mountains/GapHaSan/parallax2.jpg")
}

.parallax.GapHaSan3 {
    background-image: url("images/mountains/GapHaSan/resting.jpg")
}

.parallax.CheongNamDae1 {
    background-image: url("images/mountains/CheongNamDae/parallax.jpg")
}

.parallax.CheongNamDae2 {
    background-image: url("images/mountains/CheongNamDae/lake.jpg")
}

.parallax.GuBongSan1 {
    background-image: url("images/mountains/GuBongSan/parallax.jpg")
}

.parallax.GuBongSan2 {
    background-image: url("images/mountains/GuBongSan/stairs.jpg")
}

.parallax.CheonTaeSan1 {
    background-image: url("images/mountains/CheonTaeSan/parallax.jpg")
}

.parallax.CheonTaeSan2 {
    background-image: url("images/mountains/CheonTaeSan/dolls.jpg")
}

.parallax.JilHyeonSan1 {
    background-image: url("images/mountains/JilHyeonSan/parallax.jpg")
}

.parallax.JilHyeonSan2 {
    background-image: url("images/mountains/JilHyeonSan/pond.jpg")
}

.parallax.NaBalBong1 {
    background-image: url("images/mountains/NaBalBong/parallax.jpg")
}

.parallax.NaBalBong2 {
    background-image: url("images/mountains/NaBalBong/parallaxStone.jpg")
}
.parallax.NaBalBong3 {
    background-image: url("images/mountains/NaBalBong/tree.jpg")
}

.parallax.SeoDaeSan1 {
    background-image: url("images/mountains/SeoDaeSan/parallax.jpg")
}

.parallax.SeoDaeSan2 {
    background-image: url("images/mountains/SeoDaeSan/parallax2.jpg")
}

.parallax.SongNiSan1 {
    background-image: url("images/mountains/SongNiSan/parallax.jpg")
}

.parallax.SongNiSan2 {
    background-image: url("images/mountains/SongNiSan/ice_dam.jpg")
}

.parallax.YoungSeongSan1 {
    background-image: url("images/mountains/YoungSeongSan/parallax.jpg")
}

.parallax.YoungSeongSan2 {
    background-image: url("images/mountains/YoungSeongSan/sign.jpg")
}

.parallax.DaeDunSan1 {
    background-image: url("images/mountains/DaeDunSan/parallax.jpg");
}

.parallax.DaeDunSan2 {
    background-image: url("images/mountains/DaeDunSan/pagota.jpg");
}

.parallax.DaeDunSan3 {
    background-image: url("images/mountains/DaeDunSan/parallax_view.jpg");
}

.parallax.DaeDunSan4 {
    background-image: url("images/mountains/DaeDunSan/parallax_snow.jpg");
}

.parallax.DaeDunSan5 {
    background-image: url("images/mountains/DaeDunSan/parallax_bridge.jpg");
}

.parallax.MaEeSan1 {
    background-image: url("images/mountains/MaEeSan/parallax.jpg");
}

.parallax.MaEeSan2 {
    background-image: url("images/mountains/MaEeSan/parallax2.jpg");
}

.parallax.UnJuSanSeong1 {
    background-image: url("images/mountains/UnJuSanSeong/parallax.jpg");
}

.parallax.UnJuSanSeong2 {
    background-image: url("images/mountains/UnJuSanSeong/path.jpg");
}

.parallax.UnJuSanSeong3 {
    background-image: url("images/mountains/UnJuSanSeong/pots2.jpg");
}
.parallax.MunJangDae1 {
    background-image: url("images/mountains/MunJangDae/parallax.jpg");
}
.parallax.MunJangDae2 {
    background-image: url("images/mountains/MunJangDae/parallax2.jpg");
}






.parallax.introC1 {
    background-image: url("images/canoeing/intro/parallax.jpg");
}

.parallax.introC2 {
    background-image: url("images/canoeing/intro/parallax2.jpg");
}

.parallax.introC3 {
    background-image: url("images/canoeing/intro/river.jpg");
}
.parallax.introC4 {
    background-image: url("images/canoeing/intro/bridge.jpg");
}
.parallax.introC5 {
    background-image: url("images/canoeing/intro/tent.jpg");
}
/* canoe */
.parallax.canoe {
    background-image: url("images/canoe_parallax.JPG")
}

.parallax.NakDong1 {
    background-image: url("images/canoeing/NakDong/parallax.JPG")
}

.parallax.NakDong2 {
    background-image: url("images/canoeing/NakDong/island_parallax.JPG")
}

.parallax.NakDong3 {
    background-image: url("images/canoeing/NakDong/parallax_field.jpg")
}

.parallax.NakDong4 {
    background-image: url("images/canoeing/NakDong/parallax_river.jpg")
}

.parallax.YeongSang1 {
    background-image: url("images/canoeing/YeongSang/parallax.JPG")
}

.parallax.YeongSang2 {
    background-image: url("images/canoeing/YeongSang/riding_parallax.JPG")
}

.parallax.YeongSang3 {
    background-image: url("images/canoeing/YeongSang/flowers_parallax.JPG")
}

.parallax.Kum1 {
    background-image: url("images/canoeing/Kum/parallax.JPG")
}

.parallax.Kum2 {
    background-image: url("images/canoeing/Kum/sunset_parallax.JPG")
}

.parallax.Kum3 {
    background-image: url("images/canoeing/Kum/expo_parallax.JPG")
}

.parallax.Seomjin1 {
    background-image: url("images/canoeing/Seomjin/parallax.jpg")
}

.parallax.Seomjin2 {
    background-image: url("images/canoeing/Seomjin/dam_parallax.jpg")
}

.parallax.Seomjin3 {
    background-image: url("images/canoeing/Seomjin/group.jpg")
}

.parallax.Seomjin4 {
    background-image: url("images/canoeing/Seomjin/tent.jpg")
}

.parallax.ChungJu1 {
    background-image: url("images/canoeing/ChungJu/parallax.jpg")
}

.parallax.ChungJu2 {
    background-image: url("images/canoeing/ChungJu/flag.jpg")
}

.parallax.ChungJu3 {
    background-image: url("images/canoeing/ChungJu/dam.jpg")
}

.parallax.DaeCheong1 {
    background-image: url("images/canoeing/DaeCheong/parallax.jpg")
}

.parallax.DaeCheong2 {
    background-image: url("images/canoeing/DaeCheong/parallax2.jpg")
}

.parallax.DaeCheong3 {
    background-image: url("images/canoeing/DaeCheong/cave.jpg")
}

.parallax.DaeCheong4 {
    background-image: url("images/canoeing/DaeCheong/resting.jpg")
}

.parallax.DaeCheong5 {
    background-image: url("images/canoeing/DaeCheong/parallax3.jpg")
}







.parallax.about_us1 {
    background-image: url("images/parallax_group.jpg");
}