/* home */
.parallax.home1 {
    background-image: url("images/parallax_bomon.jpg");
}

.parallax.home2 {
    background-image: url("images/parallax_KuGongSan.jpg");
}

.parallax.home3 {
    background-image: url("images/parallax_helipad.jpg");
}

.parallax.home4 {
    background-image: url("images/parallax_house_in_mountain.jpg");
}



/* mountains */
.parallax.mountains1 {
    background-image: url("images/parallax_bomon2.jpg");
}

.parallax.DeoGyuSan1 {
    background-image: url("images/mountains/DeoGyuSan/parallax.jpg");
}

.parallax.DeoGyuSan2 {
    background-image: url("images/mountains/DeoGyuSan/temple_parallax.JPG");
}

.parallax.OuSeongEeSan1 {
    background-image: url("images/mountains/OuSeongEeSan/parallax.JPG");
}

.parallax.ManInSan1 {
    background-image: url("images/mountains/ManInSan/parallax.jpg")
}

.parallax.ManInSan2 {
    background-image: url("images/mountains/ManInSan/landscape_parallax.JPG")
}

.parallax.GyerYongSan1 {
    background-image: url("images/mountains/GyerYongSan/parallax.jpg")
}

.parallax.GyerYongSan2 {
    background-image: url("images/mountains/GyerYongSan/parallax_flower.jpg")
}

.parallax.GyerYongSan3 {
    background-image: url("images/mountains/GyerYongSan/sign.jpg")
}

.parallax.GyerYongSan4 {
    background-image: url("images/mountains/GyerYongSan/parallax_view2.jpg")
}
.parallax.GyerYongSan5 {
    background-image: url("images/mountains/GyerYongSan/parallax_tree.jpg")
}
.parallax.GyerYongSan6 {
    background-image: url("images/mountains/GyerYongSan/ugly_boy.jpg")
}




/* canoe */
.parallax.canoe {
    background-image: url("images/canoe_parallax.JPG")
}

.parallax.NakDong1 {
    background-image: url("images/canoeing/NakDong/parallax.JPG")
}

.parallax.NakDong2 {
    background-image: url("images/canoeing/NakDong/island_parallax.JPG")
}

.parallax.YeongSang1 {
    background-image: url("images/canoeing/YeongSang/parallax.JPG")
}

.parallax.YeongSang2 {
    background-image: url("images/canoeing/YeongSang/riding_parallax.JPG")
}

.parallax.YeongSang3 {
    background-image: url("images/canoeing/YeongSang/flowers_parallax.JPG")
}

.parallax.Kum1 {
    background-image: url("images/canoeing/Kum/parallax.JPG")
}

.parallax.Kum2 {
    background-image: url("images/canoeing/Kum/sunset_parallax.JPG")
}

.parallax.Kum3 {
    background-image: url("images/canoeing/Kum/expo_parallax.JPG")
}



.parallax.about_us1 {
    background-image: url("images/parallax_group.jpg");
}