.parallax.home1 {
    background-image: url("images/parallax_bomon.jpg");
}

.parallax.home2 {
    background-image: url("images/parallax_KuGongSan.jpg");
}

.parallax.home3 {
    background-image: url("images/parallax_helipad.jpg");
}

.parallax.home4 {
    background-image: url("images/parallax_house_in_mountain.jpg");
}


.parallax.mountains1 {
    background-image: url("images/parallax_bomon2.jpg")
}

.parallax.DeoGyuSan1 {
    background-image: url("images/mountains/DeoGyuSan/parallax.jpg")
}

.parallax.DeoGyuSan2 {
    background-image: url("images/mountains/DeoGyuSan/temple_parallax.JPG")
}

.parallax.about_us1 {
    background-image: url("images/parallax_group.jpg")
}